/* ruleset that specifies to download the font file*/
@font-face {
    font-family: "NotoSansMono";
    src: url(./fonts/NotoSansMono-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "Oswald";
    src: url(./fonts/Oswald-VariableFont_wght.ttf);
    font-weight: bold;
    font-style: italic;
}

html {
    font-family: "NotoSansMono", Helvetica, Verdana, sans-serif;
}

.fancyTitle {
    width: 350px;
    height: 50px;
    padding: 10px;
    max-width: 500px;
    max-height: 100px;
    margin: auto;

    font-family: "Oswald";
    background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
    
}

video, audio {
    display: block;
    margin:20px 50% 50px 30rem;
    padding: 30pt 12vw 40pt 12vw
}

*{
    background-color: blanchedalmond;
<<<<<<< Updated upstream
}
=======
}

input[type],select, textarea, input[list]{
    background: #ffffff;
}


/* We don't want any big headers in our nav! */
nav > h1, nav > h2, nav >h3 {
    display: none;
}

main .alert{
    background: white;
    color: red;
    padding-left: 20px;
}

.alert ~ .alert {
    top: 40px;
}

main span .alert {
    margin-left: auto;
    width: 200px;
    position: sticky;
    top: 20px;
}
>>>>>>> Stashed changes
